:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(228, 222, 222, 0.397);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.post-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 60%;
}

.add-post {
  display: flex;
  flex-direction: column;
}

.add-post input,
.add-post textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.644);
}

.add-post textarea {
  resize: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.post-form button {
  padding: 10px 20px;
  background-color: rgba(0, 123, 255, 0.7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  width: fit-content;
}

.post-form button:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* padding: 20px; */
}

.posts-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.post {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  background-color: white;
  flex-direction: column;
}

.post-title {
  font-size: 1.1rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.post-body {
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.post-btns {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: end;
}

.delete-btn,
.edit-btn {
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

.delete-btn:hover,
.edit-btn:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.delete-btn {
  background-color: #f44336;
}

.edit-btn {
  background-color: #2196f3;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    /* margin: 0 auto; */
  }
  .posts {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* padding: 20px; */
  }

  .post-form {
    width: 60%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 95%;
  }
  .posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 100%; */
    /* padding: 20px; */
  }

  .post-form {
    width: 100%;
  }
}
