* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

header {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
  width: 80%;
  margin: auto;
}

section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.command {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.command:last-child {
  border-bottom: none;
}

.command-title {
  font-weight: bold;
  color: #333;
  font-size: large;
}

.command-description {
  color: #555;
  margin-top: 5px;
}

.command-code,
.command-example {
  background-color: #f9f9f9;
  border-left: 6px solid #282c34;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  margin-top: 10px;
  overflow-x: auto;
}

.command-example {
  background-color: #111111;
  color: white;
  border-left: 6px solid orangered;
}
